* text=auto

*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.jsonc text eol=lf
*.md text eol=lf
*.py text eol=lf
*.toml text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.gif binary
*.jpg binary
*.jpeg binary
*.mp4 binary
*.pdf binary
*.png binary
*.webp binary
*.zip binary

frontend/public/** export-ignore
frontend/src/assets/** export-ignore
node_modules/** export-ignore
backend/.venv/** export-ignore
backend/media/** export-ignore